extends layout
block content
	// Content Header (Page header)
	section.content-header
		h1
			| Gestión de usuario
	// Main content
	section.content
		.row
			.col-xs-12
				.box
					//.box-header
						h3.box-title Data Table With Full Features
					// /.box-header
					.box-body.table-responsive
						table#example1.table.table-bordered.table-striped
							thead
								tr
									th Nombre de usuario
									th Correo electronico
									th Perfil
									th A.Upv
									if id_perfil == 1
										th Opciones
							tbody

								each u_datos in datos.result
									tr
										td #{u_datos.nombre_steem}
										td #{u_datos.correo_electronico}
										td #{u_datos.id_perfil}
										td #{u_datos.auto_upvotes}  
										if id_perfil == 1
											td
												button(data-toggle='modal', data-target='#compose-modal',onclick='usuarios.cargar(this)',
												data-id_usuario='#{u_datos.id}',
												data-nombre_steem='#{u_datos.nombre_steem}',
												data-correo_electronico='#{u_datos.correo_electronico}',
												data-id_perfil='#{u_datos.id_perfil}',
												data-wif_post_priv_steem='#{u_datos.wif_post_priv_steem}',
												data-auto_upvotes='#{u_datos.auto_upvotes}',style='padding-right: 3px;')
													i.fa.fa-fw.fa-edit
							tfoot
								tr
									th Nombre de usuario
									th Correo electronico
									th Perfil
									th A.Upv
									if id_perfil == 1
										th Opciones
					// /.box-body
				// /.box
	// /.content
block message-modal
	// COMPOSE MESSAGE MODAL
	#compose-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
					h4.modal-title
						i.fa.fa-envelope-o  
						|     Editar datos
				form(action='#', method='post')
					.modal-body
						.row(style='display:none;')
							.col-md-6
								.form-group
									.input-group
										span.input-group-addon ID:
										input#u_id_usuario.form-control( type='text')

						.row
							.col-md-6
								.form-group
									.input-group
										span.input-group-addon Usuario:
										input#u_nombre_s.form-control(name='email_to', type='text', placeholder='Usuario uneeverso & steem', disabled='TRUE')
							.col-md-6
								.form-group
									.input-group
										span.input-group-addon Auto-upvotes:
										input#u_auto_v.form-control(name='email_to', type='text', placeholder='Email CC', disabled='TRUE')
						.row
							.col-md-12					
								.form-group
									.input-group
										span.input-group-addon Correo:
										input#u_correo_e.form-control(name='email_to', type='email', placeholder='Email CC')
						.row
							.col-md-12
								.form-group
									.input-group
										span.input-group-addon WIF PRIV POSTING:
										input#u_wfi_posting.form-control(name='email_to', type='text', placeholder='Email TO')
						if id_perfil == 1						
							.row
								.col-md-6
									.form-group
										.input-group
											span.input-group-addon Perfil:
											input#u_perfil.form-control(name='u_perfil', type='text', placeholder='Perfil de usuario')

					.modal-footer.clearfix
						button.btn.btn-primary.pull-left(type='button', onclick='usuarios.guardar()')
							| Guardar
			// /.modal-content
		// /.modal-dialog
	// /.modal
block javascript
	// DATA TABES SCRIPT
	script(src='/js/plugins/datatables/jquery.dataTables.js', type='text/javascript')
	script(src='/js/plugins/datatables/dataTables.bootstrap.js', type='text/javascript')
	// page script
	script(src='/js/AdminLTE/tables/data.js',type='text/javascript')
	// page usuarios
	script(src='/js/pages/admin/usuarios.js',type='text/javascript')