doctype html
html
  head
    meta(charset='UTF-8')
    title Uneeverso
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // bootstrap 3.0.2
    link(href='../../css/bootstrap.min.css', rel='stylesheet', type='text/css')
    // font Awesome
    link(href='../../css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // Theme style
    link(href='../../css/AdminLTE.css', rel='stylesheet', type='text/css')
    // Alertas
    link(href='/css/alertifyjs/alertify.min.css', rel='stylesheet', type='text/css')    
    // Theme style personalizado
    link(href='../../css/style-login.css', rel='stylesheet', type='text/css')  
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
  body
    .form-box(style='margin:60px auto 0 auto;')
      .header.skin-blue La pagina no existe
      form( method='post')

        .footer
          a#btn-volver.btn.bg-blue.btn-block(href='/') Volver a uneeverso
    // jQuery 2.0.2
    script(src='/js/libs/jquery.min.js')
    // Bootstrap
    script(src='../../js/bootstrap.min.js', type='text/javascript')
    // alertifyjs-js
    script(src='/js/alertifyjs/alertify.min.js')
    // Utilidades - alertas
    script(src='../../js/pages/utilidades/alertas.js', type='text/javascript')
    // steem-js
    script(src='/js/steemjs/steem.min.js')
    // JS - page login
    script(src='/js/pages/sesion.js')