extends layout
block content
	section.content
		.mailbox.row
			.col-xs-12
				.box.box-solid
					.box-body
						.row
							.col-md-3.col-sm-4
								.box-header
									h3.box-title Proximamente