doctype html
html
	head
		meta(charset='UTF-8')
		title Uneeverso
		meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
		// bootstrap 3.0.2
		link(href='/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		// font Awesome
		link(href='/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		// Ionicons
		link(href='/css/ionicons.min.css', rel='stylesheet', type='text/css')
		// Morris chart
		link(href='/css/morris/morris.css', rel='stylesheet', type='text/css')
		// jvectormap
		link(href='/css/jvectormap/jquery-jvectormap-1.2.2.css', rel='stylesheet', type='text/css')
		// fullCalendar
		link(href='/css/fullcalendar/fullcalendar.css', rel='stylesheet', type='text/css')
		// Daterange picker
		link(href='/css/daterangepicker/daterangepicker-bs3.css', rel='stylesheet', type='text/css')
		// bootstrap wysihtml5 - text editor
		link(href='/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css', rel='stylesheet', type='text/css')
		// iCheck for checkboxes and radio inputs
		link(href='/css/iCheck/all.css', rel='stylesheet', type='text/css')
		// Bootstrap Color Picker
		link(href='/css/colorpicker/bootstrap-colorpicker.min.css', rel='stylesheet')
		// Bootstrap time Picker
		link(href='/css/timepicker/bootstrap-timepicker.min.css', rel='stylesheet')
		// DATA TABLES
		link(href='/css/datatables/dataTables.bootstrap.css', rel='stylesheet', type='text/css')
		// demo style for icons
		link(href='/css/AdminLTE/icons.css', rel='stylesheet', type='text/css')
		// Ion Slider
		link(href='/css/ionslider/ion.rangeSlider.css', rel='stylesheet', type='text/css')
		// ion slider Nice
		link(href='/css/ionslider/ion.rangeSlider.skinNice.css', rel='stylesheet', type='text/css')
		// bootstrap slider
		link(href='/css/bootstrap-slider/slider.css', rel='stylesheet', type='text/css')
		// Theme style
		link(href='/css/AdminLTE.css', rel='stylesheet', type='text/css')
		// Alertas
		link(href='/css/alertifyjs/alertify.min.css', rel='stylesheet', type='text/css')
		// Theme style login
		link(href='/css/style-login.css',	rel='stylesheet',	type='text/css')				
		// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		// WARNING: Respond.js doesn't work if you view the page via file://
		//if lt IE 9
			script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
			script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
	body.skin-blue-light.fixed(onload='sesion.extraerDatos()')
		// header logo: style can be found in header.less
		header.header(style='background:white;box-shadow: -4px -3px 9px 1px #000;')
			a.logo(href='/',style='font-family: initial;font-size: 30px;')
				// Add the class icon to your logo image or logo icon to add the margining
				| Uneeverso 
				span(style='font-size:10px;color:#ccc;')  BETA
			// Header Navbar: style can be found in header.less
			nav.navbar.navbar-static-top(role='navigation')
				// Sidebar toggle button
				a#sidebar_izquierdo.sidebar_cerrado.icono-panel-usuario.html-sesion.navbar-btn.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
					span.sr-only Toggle navigation
					spani.glyphicon.glyphicon-user
				//

				a.icono-panel-usuario.html-sesion.navbar-btn.dropdown.notifications-menu.dropdown-toggle(href='#', data-toggle='dropdown', style='padding:9px 5px;')			
						spani.fa(style='padding:19px 5px;') SBD 
						//i.fa.fa-dollar
					ul.dropdown-menu(style='width: 100%;')
						li#monedas
							#content_monedas(style='background: #e7e9ec;width: 98%;float:  left;margin:  10px;padding:  5px;border-radius: 15px;')
								.row
									.col-md-3
										.izquierda_merk_(style='float:left;')
											b(style='color:#3c8dc2;') Mercado 
											b#porcentaje_cambio(style='color:#13b528;') 
										.derecha_merk_(style='float:right;')
											b(style='color:#3c8dc2;') 1 SBD 
											b(style='color:#3c8dc2;') = 
									.col-md-3
										center
											//spani.fa.fa-dollar
											b#precio_d_usb(style='color:;')  
											b(style='color:;')     USD
									.col-md-3
										//spani.fa.fa-bitcoin
										b#precio_d_btc(style='color:;') 
										b(style='color:;')     BTC
									.col-md-3
										//b E
										b#precio_d_eth(style='color:;') 
										b(style='color:;')     ETC
						li#monedero(style='display: none;')
							#content_monedero(style='background: #e7e9ec;width: 98%;float:  left;margin:  10px;padding:  5px;border-radius: 15px;')
								.row
									.col-md-3
										.izquierda_merk_(style='float:left;')
											b(style='color:#3c8dc2;') Monedero
										.derecha_merk_(style='float:right;')
											b#tu_sbd_balance(style='color:#3c8dc2;') 
											b(style='color:#3c8dc2;') SBD = 
									.col-md-3
										center
											//spani.fa.fa-dollar
											b#monedero_precio_d_usb(style='color:;')  
											b(style='color:;')     USD
									.col-md-3
										//spani.fa.fa-bitcoin
										b#monedero_precio_d_btc(style='color:;') 
										b(style='color:;')     BTC
									.col-md-3
										//b E
										b#monedero_precio_d_eth(style='color:;') 
										b(style='color:;')     ETC	
				select#opciones_nodo_conexion.icono-panel-usuario.navbar-btn.dropdown.notifications-menu.dropdown-toggle(style='padding:9px 5px;', onchange='sesion.opciones_nodo_conexion()')
					option(value='0', selected='TRUE') Si precencia un error: Seleccione un nodo de conexión 
					option(value='api.steemit.com') api.steemit.com
					option(value='steemd.steemit.com') steemd.steemit.com
					option(value='steemd.privex.io') steemd.privex.io
					option(value='steemd.minnowsupportproject.org') steemd.minnowsupportproject.org
					option(value='steemd.pevo.science') steemd.pevo.science
					option(value='gtg.steem.house:8090') gtg.steem.house:8090
					option(value='seed.bitcoiner.me') seed.bitcoiner.me    
				.navbar-right
					ul.nav.navbar-nav
						// User Account: style can be found in dropdown.less
						li.html-sesion.user.user-menu
							a.url_user(href='')
								i.glyphicon.glyphicon-user
								span#nombreMuestra
									| 			
						// PARA OPCIONES CON PUBLICACIONES - en desarrollo
						//li.dropdown.notifications-menu
							a.dropdown-toggle(href='#', data-toggle='dropdown')
								i.fa.fa-search
							ul.dropdown-menu(style='height:;')
								li.header Buscar publicaciónes sobre:
								li
									form.sidebar-form(action='#', method='post')
										.input-group
											input.form-control(type='text', name='q', placeholder='Buscar publicación')
											span.input-group-btn
												button#search-btn.btn.btn-flat(type='button', name='seach' style='background:#367fa9;border-color:#367fa9;')
													i.fa.fa-search
									// /.search form
									// inner menu: contains the actual data
									ul.menu		
										li
											a.url_segu(href='')
												i.ion.ion-ios7-people.info
												| Tendencia				
										li
											a.url_sigu(href='')
												i.fa.fa-info.info
												| Nuevo
										li
											a.url_sigu(href='')
												i.fa.fa-info.info
												| En alza
										li
											a.url_sigu(href='')
												i.fa.fa-info.info
												| Promocionado												
						
						// PARA OPCIONES CON USUARIO - en desarrollo
						//li.dropdown.notifications-menu
							a.dropdown-toggle(href='#', data-toggle='dropdown')
								i.fa.fa-users
							ul.dropdown-menu(style='height: 190px;')
								li.header Seguimiento
								li
									form.sidebar-form(action='#', method='post')
										.input-group
											input.form-control(type='text', name='q', placeholder='Buscar usuario')
											span.input-group-btn
												button#search-btn.btn.btn-flat(type='button', name='seach' style='background:#367fa9;border-color:#367fa9;')
													i.fa.fa-search
									// /.search form								
									// inner menu: contains the actual data
									ul.menu
										li
											a.url_segu(href='')
												i.ion.ion-ios7-people.info
												| Seguidores				
										li
											a.url_sigu(href='')
												i.fa.fa-info.info
												| Siguiendo

						// PARA OPCIONES DE CURACION
						li.html-sesion.dropdown.notifications-menu
							a.dropdown-toggle(href='#', data-toggle='dropdown')
								i.fa.fa-heart
							ul.dropdown-menu(style='height: 87px;')
								li.header Curación
								li
									// inner menu: contains the actual data
									ul.menu
										li
											a.url_auto(href='')
												i.fa.fa-info.info
												|	Configurar automatización						

						// PARA OPCIONES GENERALES - sin sesion
						li.html-sin-sesion.dropdown.notifications-menu
							a.dropdown-toggle(href='#', data-toggle='dropdown')
								i.fa.fa-ellipsis-v
							ul.dropdown-menu(style='height: 139px;')
								li.header Gestion
								li
									// inner menu: contains the actual data
									ul.menu(style='height: 150px;')
										li
											a.url_cfg(href='/login')
												i.ion.ion-ios7-people.info
												| Iniciar sesion	
										li
											a.url_cfg(href='/registro')
												i.ion.ion-ios7-people.info
												| Registrar	
						// PARA OPCIONES GENERALES - con sesion
						li.html-sesion.dropdown.notifications-menu
							a.dropdown-toggle(href='#', data-toggle='dropdown')
								i.fa.fa-ellipsis-v
							ul.dropdown-menu(style='height: 189px;')
								li.header Gestion
								li
									ul.menu(style='height: 150px;')
										li
											a.url_cfg(href='', target='_blank', rel='nofollow')
												i.ion.ion-ios7-people.info
												| Configuración				
										li
											a.url_info(href='', target='_blank', rel='nofollow')
												i.fa.fa-info.info
												| Información sobre Uneeverso
										li
											a(onclick='sesion.cerrar()') 
												i.fa.fa-sign-out.danger
												| Cerrar sesión

		.wrapper.row-offcanvas.row-offcanvas-left
			// Left side column. contains the logo and sidebar
			aside.left-side.sidebar-offcanvas.collapse-left
				// sidebar: style can be found in sidebar.less
				section.sidebar(style='border-right:0.09px solid #aeaeae;')
					// Sidebar user panel
					a.url_user
						#cover_image.user-panel
							.pull-left.image
								img#profile_image.img-circle(src='', alt='',style='width:  65px;height:  65px;')
							.pull-left.info(style='padding: 0px;')
								p#nombreMuestra_pju(style='color:white;background: #3579a0ad;border-radius: 5px;padding:  2px;')
								#reputacion_pju(style='color:white;background: #3579a0ad;border-radius: 5px;padding:  2px;font-size:  30px;margin-left: 72px;')
									b 
									p(style='float:right;padding-left:10px;')

					#txt-reputation.user-panel(style='padding:0px;') 
						// Task item
									
					// end task item						
					#txt-poder-voto.user-panel(style='padding:0px;padding-top:0px;') 
						// Task item

					// end task item
					#tiempo-recarg-poder-voto.user-panel(style='padding:0px;padding-top:0px;') 
						// Task item

					// end task item

				// /.sidebar
			// Right side column. Contains the navbar and content of the page
			aside.right-side.strech
				block content
				block content_sub
			// /.right-side
		// ./wrapper
		block message-modal
		block javascript_global
			// jQuery 2.0.2
			script(src='/js/libs/jquery.min.js')
			// Bootstrap
			script(src='/js/bootstrap.min.js', type='text/javascript')
			// AdminLTE App
			script(src='/js/AdminLTE/app.js', type='text/javascript')		
			// Momentjs
			script(src='/js/moment.js')
			// alertifyjs-js
			script(src='/js/alertifyjs/alertify.min.js')
			// steem-js
			script(src='/js/steemjs/steem.min.js')
			// Utilidades - alertas
			script(src='/js/pages/utilidades/alertas.js', type='text/javascript')
			// Utilidades - datos
			script(src='/js/pages/utilidades/datos.js', type='text/javascript')
			// Utilidades - configuracion
			script(src='/js/pages/configuracion/configuracion.js', type='text/javascript')
			// JS - page sesion
			script(src='/js/pages/sesion.js')
		block javascript_2_capa
		block javascript_3_capa
