extends layout
block content
	// Content Header (Page header)
	section.content-header(style="padding:0px;")
		#cover_image_perfil
			.row  
				.col-md-8
					.row
						.col-md-3(style='padding-right:  0px;margin-right:  0px;width: 13%;')
							#profile_image_perfil(style='background-size:cover;width: 80px;height: 80px;margin: 10px;padding-right:  0px;margin-right:  0px;')
						#divNombreMuestra_perfil.col-md-7(style='height: 40px;margin-top: 30px;')
							span#nombreMuestra_perfil
							span#reputacion_perfil(style='font-size: 21px;color:white;')
					.row
						.col-md-6
							#atc_steem(style='margin-left: -67px;font-size: 11px;font-family: "arial", bold;')
								center
									a(href='javascript:;')
										b#atc_steem_seguidores 0
										b seguidores
									a(href='javascript:;')
										b |
										b#atc_steem_posts 0
										b posts
										b |

									a(href='javascript:;')
										b#atc_steem_siguiendo 0
										b siguiendo																		
					.row
						.col-md-12(style='padding-left: 34px;')
							
							i#dato_localizacion_icon.fa.fa-fw.fa-location-arrow(style='color:white;display:none;float:left;')

							a#dato_localizacion(target='_blank', style='margin-right: 10px;float:left;')

							i#dato_pagina_web_icon.fa.fa-fw.fa-link(style='color:white;display:none;float:left;')

							a#dato_pagina_web(target='_blank', style='float:left;')
				.col-md-4
					.row
						.col-md-12
							#descripcion_sobre_perfil(style='color:  white;width:  100%;padding: 25px;font-size: medium;')

		.menu_perfil.row
			.col-md-8
				a#menu_url_1.menu-item.desarrollando(href="", style="width:60px;padding-left:11px;")
					b Blog
				a#menu_url_2.menu-item.desarrollando(style="width:130px;", href="")
					b Comentarios
				a#menu_url_3.menu-item.desarrollando(style="width:130px;", href="")
					b Respuestas
				a.menu-item.desarrollando(style="width:130px;padding-left:11px;", href="")
					b Recompensas
			.col-md-0
			.col-md-4
				a#menu_url_7.html-sesion.menu-item(style="width:123px;float:right;" href="")
					b	Configuración			
				a#menu_url_6.menu-item.desarrollando(style="float:right;" href="")
					b	Monedero
		// Main content
	// /.content
block javascript_2_capa
	// JS - page PERFIL
	script(src='/js/pages/perfil.js')
