.btn{
	border: 1px solid #00000008;
}
html.login{
	background-image: url(https://steemit-production-imageproxy-thumbnail.s3.amazonaws.com/U5dtyCAS1kas4hvnGEPUgGxiMzmAnvd_2048x512) ;
	background-size: 100% 100%;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family:monospace;
}
.navbar-nav > .notifications-menu > .dropdown-menu, .navbar-nav > .messages-menu > .dropdown-menu, .navbar-nav > .tasks-menu > .dropdown-menu{
	-webkit-border-radius:0px !important;
	border-radius:0px !important;
}
.icono-panel-usuario{
	color:#d4e6f0;
}
.icono-panel-usuario:hover{
	color:#224b63;
}
body.login{
	background:#0000;/*transparente*/
}

html, body, .content, .right-side{
	background: #e7e9ec;	
}
/*Mensajes*/
.alertify-notifier .ajs-message.ajs-success{

	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0);
	background: rgba(0, 128, 0, 0.75);
	color:white;
	border-radius: 5px;
	font-size: 17px;

}
.alertify-notifier .ajs-message.ajs-error{

	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0);
	background: rgba(34, 75, 99, 0.91);
	color:white;
	border-radius: 5px;
	font-size: 17px;

}
#nombreMuestra_perfil{
  /* float: left; */
  margin-top:  10px;
  font-size: 30px;
  /* line-height: 50px; */
  /* text-align: center; */
  top: 10px;
  margin: 320px 9px;
  /* width: 220px; */
  font-family: initial;
  /*  font-family: 'Kaushan Script', cursive;*/
  /* font-weight: 500; */
  /* height: 50px; */
  /* display: block; */
  color:  white;
 } 
.box{
	box-shadow:0 0 black;
	border:1px solid #00000030;
}
.box.box-solid{
	border-top:1px solid #00000030;	
}
#login .form-box{
	margin: 2% auto 0 auto;
}
.form-box .header{
	background:#3c8dbc;
	font-family:bould;
}
.progress.xs{
	height:18px;
	margin-bottom:0px;
	background-color:#8b8d8e;
}
.progress{
	border-radius:0px;
}

.desarrollando{
	visibility: hidden;
}
.bg-blanco{
	background-color:white;
	color:#949496;
}
.bg-blanco:hover{
	border-color:#949496;
}
.box .box-header{
	padding-bottom: 0px;
}

#profile_image_perfil{
	display: none;
}
#cover_image_perfil{
	background: #171F24;
    text-shadow: 1px 1px 4px black;
    min-height: 155px;
}
#atc_steem b{
	margin-right: 3px;
}
#atc_steem a{
	color: white;
}
#atc_steem a:hover{
	color: #3c8dbc;
}




/*Perfil*/
.menu_perfil{
	height:40px;
	background:#224b63;
}
.menu_perfil .menu-item{
	float: left;
	height:40px;
	color:white;
	background:#224b63;
	padding: inherit;
	padding-top:12px;
}
.menu_perfil .menu-item:hover{
	color:white;
	background:#1d4054;
	cursor: pointer;
}
.menu_perfil .menu-item-active{
	float: left;
	height:40px;
	color:#224b63;
	background:white;
	padding: inherit;
	padding-top:12px;
}
.menu_perfil.row{
	margin: 0px;
}

/*Perfil menu 2*/
.menu_perfil_2{
	height:40px;
	background:#f9f9f9;
	border-bottom:1px solid #00000030;		
}
.menu_perfil_2 #menu_2_url_1{ 
	border-left:1px solid #cacaca; 
}
.menu_perfil_2 a{ 
	border-right:1px solid #cacaca;
}
.menu_perfil_2 .menu-item{
	float: left;
	height:39px;
	color:#224b63;
	background:#f9f9f9;
	padding: inherit;
	padding-top:12px;	
}
.menu_perfil_2 .menu-item:hover{
	color:#3c8dbc;
	cursor: pointer;
}
.menu_perfil_2 .menu-item-active{
	float: left;
	height:39px;
	color:#224b63;
	padding: inherit;
	padding-top:12px;
}
.menu_perfil_2 .menu-item-active span{
	font-weight:bold;	
}
.menu_perfil_2.row{
	margin: 0px;
}

