extends ../perfil
block content_sub
	.menu_perfil_2.row
		.col-md-12
			a#menu_2_url_1.menu-item-active(href="", style="width:150px;padding-left:50px;")
				span General
			a#menu_2_url_2.menu-item(style="width:150px;padding-left:22px;" href="")
				span Automatización				
	.box.box-solid(style="background:#f9f9f9;")
		.box-body(style='padding:5px;')
			center
				h4
					| En construcción
	section.content
		.mailbox.row
			.col-xs-12
				.box.box-solid
					.box-body
						.row
							.col-md-3.col-sm-4
								//
									BOXES are complex enough to move the .box-header around.
									This is an example of having the box header within the box body
								.box-header
									h3.box-title Configuracion : Proximamente

block javascript_3_capa
	// JS - page perfil_configuracion
	script(src='/js/pages/perfil_extends/perfil_configuracion.js')