extends ../perfil
block content_sub
	.menu_perfil_2.row
		.col-md-12
			a#menu_2_url_1.menu-item(href="", style="width:150px;padding-left:50px;")
				span General
			a#menu_2_url_2.menu-item-active(style="width:150px;padding-left:22px;" href="")
				span Automatización				
	section.content
		.row
			.col-md-6
				.box.box-solid
					.box-body
						.row
							.col-sm-10
								span	¿Activar automatización?	:
								label#activar_desactivar_lab
									input#activar_desactivar(type='checkbox')
							.col-sm-2
								button#activar_desactivar_btn.btn.bg-blanco.btn-sm(data-toggle='tooltip',title='Presione para guardar', style="float:right;",onclick='perfil_automatizacion.activar_desactivar()')
									.glyphicon.glyphicon-floppy-saved
				#envio_url.box.collapsed-box
					.box-header
						// tools box
						.pull-right.box-tools
							button.btn.bg-blanco.btn-sm(data-widget='collapse', data-toggle='tooltip',	title='Abrir/Cerrar')
								i.fa.fa-minus
						// /. tools
						i.glyphicon.glyphicon-chevron-up(style='padding-right:  20px;')
						.box-title Enviar publicación para upvotes
					// /.box-header
					.box-body.no-padding(style="display: none;")
						.row
							.col-sm-12
								.input-group
									span.input-group-addon
										i.glyphicon.glyphicon-link
									input#url_post_comm.form-control(type='text')
								center
									p Consejo: La publicación requiere tener un maximo de 4 dias de haber sido publicada, para poder obtener beneficios del bot.
							// /.col
						// /.row - inside box
					// /.box-body
					.box-footer(style="display: none;")
						button#send_url_btn.btn.bg-blanco.btn-sm(data-toggle='tooltip',	title='Presione para guardar', style="float:pull-right;", onclick='perfil_automatizacion.guardar_url()')
									.glyphicon.glyphicon-floppy-saved
					// /.box-footer
				// /.box
			.col-md-6

				.box.box-solid
					.box-body
						.row
							.col-sm-9
								span
									h5 Soporte técnico en discordapp
							.col-sm-3
								a.btn.bg-blanco.btn-sm(data-toggle='tooltip',	title='Canal de ayuda', style="float:right;", href='https://discordapp.com/channels/389536543620071434/389544930344828928', target='_blank')
									.glyphicon.glyphicon-link
								a.btn.bg-blanco.btn-sm(data-toggle='tooltip',	title='Invitación al servidor', style="float:right;", href='https://discord.gg/RBcVFbs', target='_blank')
									.glyphicon.glyphicon-link									
				#lista_espera.box
					.box-header
						// tools box
						.pull-right.box-tools
							button.btn.bg-blanco.btn-sm(data-widget='collapse', data-toggle='tooltip', title='Abrir/Cerrar')
								i.fa.fa-minus
						// /. tools
						i.glyphicon.glyphicon-list-alt(style='padding-right:  20px;')
						.box-title Publicaciónes en espera para upvotes
					// /.box-header
					.box-body.no-padding(style="display: block;")
						table.table.table-bordered
							thead
								tr
									th Publicación
									th(style='width: 40px')
										center 
											b( data-toggle='tooltip', title='Número de espera') N°.E.
							tbody#lista_espera_personal
								tr
									td No hay url en espera
									td
										center
											span.badge 0
					// /.box-body
				// /.box	

block javascript_3_capa
	// JS - page perfil_automatizacion
	script(src='/js/pages/perfil_extends/perfil_automatizacion.js')
